<nav>
  <div class="nav-left">
    <a href="/"><img src="/pics/LOGO_SELLA_white.png" class="logo"/></a>
  <% if (user) { %>
  <a href="/profile">
    <% if (user && user.avatar && user.avatar.data) { %>
<img src="data:<%= user.avatar.contentType %>;base64,<%= user.avatar.data.toString('base64') %>"
 class="avatar"/>


<% } else { %>

  <img src="/pics/user_profile.svg" class="avatar" />
<% } %>
</a>
<% } %>
</div>

<div class="nav-right">
  <% if (user) { %>
 <a href="/listings/new">Add New Listing</a> | <a href="/listings">View All Listings</a> | <a href="/auth/sign-out">Sign Out</a>

  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>

    <% } %>
  </div>
</nav>

