<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>All Your Feedbacks</h1>
  <% reviews.forEach(reviews => { %>
    <div>
<p>Seller: <%= reviews.seller.username ? reviews.seller.username : 'Unknown' %></p>
<p>Comment: <%= reviews.comment %> </p>
<p>⭐: <%= reviews.rating %> </p>
<p>Date: <%= reviews.createdAt.toLocaleString()%></p>
      <button type="submit">Comment</button>
      
      </div>
      <hr>
      <%})%>

</body>
</html>
