<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Marketplace</title>
  </head>
  <body class="index-page">
    <%- include("./partials/_navbar.ejs") %>
<div class="index-container">
  <img style="width:60%; "src="/pics/LOGO_SELLA.png">
<hr>
    <p2>Your marketplace, your community!</p2>
    <hr>
    <a href="/listings"><button>All Listings</button></a>
</div>
  </body>
</html>

